<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片列表</title>
</head>
<body>
    <h1>图片列表</h1>
    <ul>
        {% for image in images %}
            <li>
                <a href="/image/{{ image }}">{{ image }}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>mp4列表</h1>
    <ul>
        {% for mp4 in mp4s %}
        <li>
            <video width="720" height="480" controls autoplay>
                <source src="/{{ mp4 }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

